body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* navbar */
.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass {
    color: rgb(234, 63, 63);
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */

.f-info {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 7rem;
    background-color: rgb(228, 223, 223);
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    margin-right: 0.7rem;
    font-size: 1.3rem;
}

.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover {
    text-decoration: underline;
}


/* card */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
    color: #222222 !important;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0 !important;
}

.card-img-overlay:hover {
    opacity: 0.2 !important;
    background-color: white;
}

/* Add New Listing */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
    color: white !important;
}

/* show page */
.show-img {
    height: 35vh !important;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map {
   height: 400px;
   width: 90vh;
}